@media only screen and (max-width : 480px) {
  .mobile-margin-top {
    font-size: 20px;
  }
}
.feature-box p {
  font-size: 18px !important;
  color: black !important;
}

.feature-box h3 {
  font-size: 18px !important;
}

.col-padding {
  padding: 30px !important;
}
