<%= partial(:header, :locals => { :home_page => "false" }) %>
<div class="container clearfix content-wrap work-index">
  <div class="subtitle center">
    <a id="toor" class="anchor">
    <a href="/work/toor">
      <h1 id="toor" class="t300">A smarter and safer way to access and tour properties</h1>
    </a>
  </div>

  <!--
  <div class="tags">iPhone App Development | Ruby on Rails Development | Hardware/Software Integration
  </div>
  -->
  

  <div class="center">
    <a href="/work/toor" class="button button-border button-circle read-more">Read More</a>
  </div>

  <a href="/work/toor">
    <div class="main-image hvr-trim">
      <img src="../images/case-studies/toor/app_and_device_s.jpg" alt="Toor mobile app">
    </div>
  </a>

  <div class="subtitle center topmargin">
    <a id="cycle" class="anchor">
    <a href="/work/cycle">
      <h1 id="cycle" class="t300">Great parking to your credit</h1>
    </a>
  </div>

  <!--
  <div class="tags">Hardware/Software Integration | iPhone App Development | Ruby on Rails Development
  </div>
  -->

  <div class="center">
    <a href="/work/cycle" class="button button-border button-circle read-more">Read More</a>
  </div>

  <a href="/work/cycle">
    <div class="main-image hvr-trim">
      <img src="../images/case-studies/cycle/cycle_iphone_on_table_s.png" alt="Cycle mobile app">
    </div>
  </a>

  <div class="subtitle center topmargin">
    <a id="riptide" class="anchor">
    <a href="/work/riptide">
      <h1 class="t300">The perfect app for networking groups</h1>
    </a>
  </div>

  <!--
  <div class="tags">Hardware/Software Integration | iPhone App Development | Ruby on Rails Development
  </div>
  -->

  <div class="center">
    <a href="/work/riptide" class="button button-border button-circle read-more">Read More</a>
  </div>

  <a href="/work/riptide">
    <div class="main-image hvr-trim">
      <img src="../images/case-studies/riptide/riptide_home.png" alt="RipTide mobile app">
    </div>
  </a>

  <div class="subtitle center topmargin">
    <a id="crrt" class="anchor">
    <a href="/work/crrt">
      <h1 class="t300">Patient simulation for kidney doctors</h1>
    </a>
  </div>

  <!--
  <div class="tags">Hardware/Software Integration | iPhone App Development | Ruby on Rails Development
  </div>
  -->

  <div class="center">
    <a href="/work/crrt" class="button button-border button-circle read-more">Read More</a>
  </div>

  <a href="/work/crrt">
    <div class="main-image hvr-trim">
      <img src="../images/case-studies/crrt/orders.png" alt="CRRT patient simulator">
    </div>
  </a>
</div>
<%= partial(:footer, :locals => { :home_page => "false" }) %>
