<%= partial(:header, :locals => { :home_page => "false" }) %>
<div class="container clearfix content-wrap work-index">
  <div class="subtitle center">
    <a href="/work/toor">
      <h1 class="t300">A smarter and safer way to access and tour properties</h1>
    </a>
  </div>

  <!--
  <div class="tags">iPhone App Development | Ruby on Rails Development | Hardware/Software Integration
  </div>
  -->
  

  <div class="center">
    <a href="/work/toor" class="button button-border button-circle read-more">Read More</a>
  </div>

  <a href="/work/toor">
    <div class="main-image hvr-trim">
      <img src="../images/case-studies/toor/app_and_device_s.jpg" alt="Cycle mobile app">
    </div>
  </a>

  <div class="subtitle center topmargin">
    <a href="/work/cycle">
      <h1 class="t300">Great parking to your credit</h1>
    </a>
  </div>

  <!--
  <div class="tags">Hardware/Software Integration | iPhone App Development | Ruby on Rails Development
  </div>
  -->

  <div class="center">
    <a href="/work/cycle" class="button button-border button-circle read-more">Read More</a>
  </div>

  <a href="/work/cycle">
    <div class="main-image hvr-trim">
      <img src="../images/case-studies/cycle/cycle_iphone_on_table_s.png" alt="Cycle mobile app">
    </div>
  </a>
</div>
<%= partial(:footer, :locals => { :home_page => "false" }) %>
