<%= partial(:header, :locals => { :home_page => "false" }) %>
<div class="container clearfix content-wrap case-study">

  <div class="subtitle center">
    <h1 class="t300">The perfect app for networking groups</h1>
  </div>

  <hr>

  <div class="tags">iPhone App Development | Android App Development | Ruby on Rails Development | Ionic Development
  </div>

  <!--<iframe src="https://player.vimeo.com/video/166836862" width="640" height="360" frameborder="0"></iframe>-->
  <!--
  <video width="100%" height="360" controls>
    <source src="../../videos/case-studies/toor/app_hd.mp4">
  </video>
  -->

  <a href="http://www.riptidego.com" target="_blank">
    <div class="main-image">
      <img src="/images/case-studies/riptide/riptide_home.png" alt="RipTide mobile app">
    </div>
  </a>

  <div class="intro topmargin-sm">
    <p>
    <a href="http://www.riptidego.com" target="_blank">RipTide</a> really is the perfect app for networking groups. Group leaders can manage their group with ease and group members can ditch the annoying paper slips. You'd be surprised how many networking groups are so behind-the-times. Or maybe you're not, because you're part of one. In which case: you're welcome.
    </p>
  </div>


  <div class="challenges">
    <p>
    Because RipTide was built to be used by every member of a networking group, it was imperative we launch the application simultaneously on the App Store for iPhone users and Google Play Store for Android users. While we could have developed native applications for both Apple and Android, we decided to utilize the Ionic Framework, a high-performant, cross-platform, mobile development framework. Using Ionic allowed us to streamline our timeline and efficiently allocate the capital resources at RipTide’s disposal.
    </p>
    <p>
    Like most early-stage startups, RipTide required a flexible and agile development team. Challenge accepted. We pride ourselves in our ability to creatively solve changing business and technology requirements. For RipTide, we effectively switched to a different database mid-development and rebuilt the new database to initial specifications, all while staying on-schedule. We also made a last-minute change to the subscription flow and several smaller pivots. For these reasons, we architect modular software applications, making it much easier to adapt and flow to the requirements of the real world.
    </p>
  </div>
  
  <div class="how-we-helped">
    <p>
    We worked together to ensure the technology developed made business sense. Several strategy sessions were held to discuss the business effects of our technology decisions. We infused these meetings with the belief that technology is a tool for your business. The business should always come first, and the technology should augment, assist, and improve the business.
    </p>
    <p>
    Upon initial project launch, we didn’t disappear. We continued to work with RipTide to ensure users could fully utilize the system and strategized to plan for the future. A future where networking groups are great again.
    </p>
  </div>

  <div class="quote">
    <p><em><strong>
        Brewer Digital was transparent in their capabilities and bid accurately. Communication was good and I didn't feel nickel and dimed!
    </strong></em>
    </p>
    <p class="client">
    Diane Snead | Founder and CEO RipTide
    </p>
  </div>


  <hr>
  <div class="results">
    <h2 class="t300">Results</h2>
    <ul>
      <li>Launched on Apple App Store and Google Play Store</li>
    </ul>
  </div>
</div>
<%= partial(:footer, :locals => { :home_page => "true" }) %>
