<header id="header" class="full-header transparent-header border-full-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo" style="padding-top: 15px !important;">
        BD
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">

        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
          <!--<li><a href="#" data-href="#section-work"><div>Work</div></a></li>-->
          <li><a href="#" data-href="#section-services"><div>Services</div></a></li>
          <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
        </ul>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
