<header id="header" class="full-header dark sticky-header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <% if home_page == "false" %>
        <a href="/">
          <div id="logo" style="padding-top: 15px !important;">
            Brewer Digital
          </div><!-- #logo end -->
        </a>
      <% else %>
        <div id="logo" style="color: #ff9100; padding-top: 15px !important;">
          Brewer Digital
        </div><!-- #logo end -->
      <% end %>
      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">

        <% if home_page == "true" %>
          <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
            <li><a href="/work"><div>Work</div></a></li>
            <!--<li><a href="#" data-href="#section-work"><div>Work</div></a></li>-->
            <li><a href="#section-services" data-href="#section-services"><div>Services</div></a></li>
            <li><a href="#section-contact" data-href="#section-contact"><div>Contact</div></a></li>
          </ul>
        <% else %>
          <ul class="one-page-menu">
            <li><a href="/work"><div>Work</div></a></li>
            <!--<li><a href="#" data-href="#section-work"><div>Work</div></a></li>-->
            <li><a href="/index.html#section-services"><div>Services</div></a></li>
            <li><a href="/index.html#section-contact"><div>Contact</div></a></li>
          </ul>
        <% end %>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->
