<%= partial(:header, :locals => { :home_page => "false" }) %>
<div class="container clearfix content-wrap">
  <div class="pricing bottommargin clearfix">

    <div class="col-sm-4">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>The Startup</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">$</span>1,500<span class="price-tenure">/mo</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li>24/7/365 Monitoring</li>
            <li>Preventative Maintenance</li>
            <li>5 Hours of Development</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="pricing-box best-price">
        <div class="pricing-title">
          <h3>Growing Legs</h3>
          <span>Most Popular</span>
        </div>
        <div class="pricing-price">
          <span class="price-unit">$</span>3,000<span class="price-tenure">/mo</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li>24/7/365 Monitoring</li>
            <li>Email / SMS Alerts</li>
            <li>Disaster Recovery</li>
            <li>Preventative Maintenance</li>
            <li>Weekly Backups</li>
            <li>Monthly Report</li>
            <li>Prepare App for iOS/Android updates</li>
            <li>15 Hours of Development</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="pricing-box">
        <div class="pricing-title">
          <h3>Total Care</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">$</span>5000<span class="price-tenure">/mo</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li>24/7/365 Monitoring</li>
            <li>Email / SMS Alerts</li>
            <li>Disaster Recovery</li>
            <li>Preventative Maintenance</li>
            <li>Daily Backups</li>
            <li>Weekly Report</li>
            <li>Prepare App for iOS/Android updates</li>
            <li>30 Hours of Development</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
<%= partial(:footer, :locals => { :home_page => "false" }) %>
